# ignore all source code
/submit/*
/pagerank_test00/*
/inverted_test00/*
/searchPagerank_test00/*


# ignore all generated txt files
/pagerank_test*/pagerankList.txt
/inverted_test*/invertedIndex.txt
/searchPagerank_test*/searchResult.txt


# ignore file with no extension
**/*
!/*.*